.pagination-list__item {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
}

.pagination-list__link {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: $primary-color;
  background-color: #ffffff;
  padding: 8px;

  &--current {
    background-color: transparent;
    color: $basic-black;
    font-weight: 600;
  }

  &--prev {
    position: relative;

    @media (min-width: $tablet-width) {
      width: 91px;
    }
  }

  &--next {
    position: relative;

    @media (min-width: $tablet-width) {
      width: 104px;
    }
  }

  &--prev::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    position: absolute;
    mask-repeat: no-repeat;
    mask-size: 10px 10px;
    background-color: $primary-color;
    display: block;
    mask-image: url("../../icons/pagination-icon.svg");

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--next::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    position: absolute;
    mask-repeat: no-repeat;
    mask-size: 10px 10px;
    background-color: $primary-color;
    display: block;
    mask-image: url("../../icons/pagination-icon.svg");
    transform: rotate(180deg);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.pagination-list__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 16px;
    line-height: 24px;
  }
}
