.range__scale {
  width: 100%;
  height: 2px;
  position: relative;
  background-color: $light-grey;
}

.range__bar {
  position: absolute;
  width: 226px;
  left: 1;
  height: 4px;
  background-color: $primary-light-color;
}

.range__wrapper {
  @include flex-between;
  position: relative;
  width: 280px;
  margin-top: 36px;
  margin-bottom: 30px;

  &::before {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    content: "";
    width: 10px;
    height: 2px;
    background-color: $basic-grey;
    margin: auto;
  }

  @media (min-width: $tablet-width) {
    width: 223px;
    margin-top: 31px;
  }
}

.range__filter--min {
  margin-right: 30px;
}

.range__field {
  display: block;
  width: 118px;
  min-height: 40px;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 5px 10px;
  border: 2px solid hsl(256deg, 76%, 68%);
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;

  @media (min-width: $tablet-width) {
    width: 87px;
  }
}
